<ion-modal-view class="home_bg1 ortala ">
  <ion-content class="home_bg1">
<div class="list ortala home_bg1 con">

  <div class="item  home_bg1 sifremiunuttumbutton item-input-inset">
    <label class="item-input-wrapper sifremiunuttumbutton  ">
      <input type="text" placeholder="Telefon Numaranızı Giriniz." ng-model="loginData.phoneNumber">
    </label>
    </div>
    <div>
    </br>
    <button class="button button-small" ng-disabled="!loginData.phoneNumber" ng-click="doForgot()">
      Gönder
    </button>
  </div>

</div>
  </ion-content>
</ion-modal-view>
