<ion-modal-view class="home_bg1 ortala ">
  <ion-header-bar class="home_bg1 ">
<div class="list ortala home_bg1">

  <div class="item  home_bg1 sifremiunuttumbutton item-input-inset">
    <label class="item-input-wrapper sifremiunuttumbutton  ">
      <input type="text" placeholder="Kullanıcı Adınızı yazınız." ng-model="loginData.username">
    </label>
    </div>
    <div>
      <button class="button button-small" ng-disabled="!loginData.username" ng-click="sifremiUnuttumKapa()">
      Gönder
    </button>
  </div>

</div>
  </ion-content>
</ion-modal-view>