<ion-view view-title="">
  <ion-content class="home_bg1">


   <div class="home_bg1">

<div class="row">

  <div class="col col-100 ortala">


<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <rect class="eq-bar eq-bar--1" x="4" y="4" width="3.7" height="8"/>
  <rect class="eq-bar eq-bar--2" x="10.2" y="4" width="3.7" height="16"/>
  <rect class="eq-bar eq-bar--3" x="16.3" y="4" width="3.7" height="11"/>

</svg>


  </div>
</div>



<div class="row ">

  <div class="col col-100 ortala"  >



<button class="button button-dark muzik">
  Tarkan - Hüp diye icine cek beni
</button>


  </div>
</div>

<div class="row ">

  <div class="col col-100 ortala beyaz" >

LOGO


  </div>
</div>

<div class="row ">

  <div class="col col-100 ortala " >

<h3 class="beyaz">{{userbilgi[0].name_user}}</h3>


  </div>
</div>




<div class="row " style="padding-bottom: 86px;">

  <div class="col col-100 ortala beyaz">

    {{userbilgi[0].school}}


  </div>
</div>

 </div>

<div class="home_bg ortala">

<button class="button button-energized kampanya" ng-click="showBarcode('1')">
 Kampanya Kodu
</button>



<div class="row ">

  <div class="col col-100 ortala " >

<img class="unlem" src="img/warning.png">

  </div>
</div>


<div class="row ">

  <div class="col col-100 ortala " >

<p> {{userbilgi[0].name_user}} merhaba,hediye kahven için son bir kahve daha içmen gerekiyor.
  <!--
    controllers.js de bir dizi oluşturulacak. Benzer cümleler rasgele gelecek.
  -->
</p>


  </div>
</div>



<div class="row" ng-repeat="playlist in kahveler" >
    <div class="col {{ playlist.kahve >=1 ? 'bardak':'bardaksaydam'}}"><img src="img/coffeeCup.png"></div>
    <div class="col {{ playlist.kahve >=2 ? 'bardak':'bardaksaydam'}}"><img src="img/coffeeCup.png"></div>
    <div class="col {{ playlist.kahve >=3 ? 'bardak':'bardaksaydam'}}"><img src="img/coffeeCup.png"></div>
    <div class="col {{ playlist.kahve >=4 ? 'bardak':'bardaksaydam'}}"><img src="img/coffeeCup.png"></div>
</div>
<!-- Kahve sayısı db'den çekilecek.-->








<div class="item-body" ng-repeat="playlist in playlists" >
  <div class=" item-text-wrap">


    <div class="row tiklayer">
      <button class="button button-energized tiklayersekil"  ng-click="barkodModalOpen({{playlist.product_id}})">
        Tıkla
      </button>
    </div>


 <div class="row sayi"  >
  <div class="col {{ playlist.sayi >=1 ? 'yuvarlak':'yuvarlakgri'}}"></div>
  <div class="col {{ playlist.sayi >=2 ? 'yuvarlak':'yuvarlakgri'}}"></div>
  <div class="col {{ playlist.sayi >=3 ? 'yuvarlak':'yuvarlakgri'}}"></div>
  <div class="col {{ playlist.sayi >=4 ? 'yuvarlak':'yuvarlakgri'}}"></div>
  </div>

  <img class="full-image urunresim" src="{{playlist.image}}">


  <div class="row fiyatyer">
    <div class="card fiyatcard">
      <div class="item item-text-wrap fiyatyazi">
      {{playlist.name_product}}
      </div>
    </div>
  </div>
  </div>
</div>

</div>

  </ion-content>
</ion-view>
