
<a class>

  <a class="item item-icon-left"style="border-radius: 25px">
   Check mail
  </a>

    <a class="item item-icon-left" style="border-radius: 25px" style="padding-bottom: 25px" href="https://www.instagram.com/thecoffeefactorytr/">
    <i class="icon ion-social-instagram"></i>
    Sosyal Medyadan ulaşınnnnnn


     <a class="item item-body" style="border-radius: 25px">
    <img class="full-image" src="https://scontent-frt3-1.cdninstagram.com/vp/1b50afb0896bf2d4cce0cd0491b2e266/5E151996/t51.2885-15/e35/66102247_728933510875746_578412423874986478_n.jpg?_nc_ht=scontent-frt3-1.cdninstagram.com">
    <p>
      Kahveye olan tutkumuzla birlikte
      G A L A T A D A Y I Z !
      Sen hala gelmedin mi? 🦍 .
    </p>
    
    
  </a>


  </a>



  <a class="item item-icon-left" style="border-radius: 25px"  href="#">
    Bizi arayın
    <i class="icon ion-ios-telephone"></i>
    <span class="item-note">
      0523123123213
    </span>
  </a>

  <a class="item item-icon-left" style="border-radius: 25px" href="#">
    <i class="icon ion-ios-email"></i>
    Mail atın
    <span class="item-note">
      cafifaktori@gmail.com
    </span>
  </a>
  <a class="item item-icon-left" style="border-radius: 25px" href="http://www.thecoffeefactory.com.tr/">
    <i class="icon ion-ios-world"></i>
    Web Sitemizi Ziyaret Edin
  </a>



</a>