<ion-view view-title="">
  <ion-content class="home_bg1">


   <div class="home_bg1">

<div class="row">
  <div class="col col-100 ortala">
    <button class="button button-dark">
     <img class="full-image yuvarla" src="https://scontent-frt3-1.cdninstagram.com/vp/1b50afb0896bf2d4cce0cd0491b2e266/5E151996/t51.2885-15/e35/66102247_728933510875746_578412423874986478_n.jpg?_nc_ht=scontent-frt3-1.cdninstagram.com">
    </button>
  </div>
</div>

<div class="row">
  <div class="col col-100 ortala">
    <button class="button button-dark muzik">
     Sosyal Medya Hesabı
    </button>
  </div>
</div>

<div class="row">
  <div class="col col-100 ortala">
    <button class="button button-dark muzik">
    0555-555-5555
    </button>
  </div>
</div>

<div class="row">
  <div class="col col-100 ortala">
    <button class="button button-dark muzik">
     Mail atın: cafeapp@gamil.com
    </button>
  </div>
</div>

<div class="row">
  <div class="col col-100 ortala">
    <button class="button button-dark muzik">
     Web Sitemiz Ziyaret Edin
    </button>
  </div>
</div>