<ion-view>
  <ion-content>
    <div class="container">
      <div class="profile-image-container">
        <img src="https://randomuser.me/api/portraits/men/35.jpg" alt="profile picture" class="profile-image">
      </div>
      <div class="profile-content">
        <h2 class="user-name">{{ user.name_user }}</h2>
        <p>Bahçeşehir Üniversitesi</p>
        <button class="button button-energized log-out-button" ng-click="doLogout()">Çıkış Yap</button>
      </div>
    </div>
  </ion-content>
</ion-view>
