<ion-view>
  <ion-content>
    <div class="container">
      <div class="profile-image-container">
        <img src="https://randomuser.me/api/portraits/men/35.jpg" alt="profile picture" class="profile-image">
      </div>
      <div class="profile-content">
        <h2 class="user-name">{{ user.name_user }}</h2>
        <p>{{user.school}}</p>

        <div class="list list-inset" ng-repeat = "urun in urunler">
          <div class="item " style="background-color:#24a0ed ; color:white">
            {{urun.name_product}} toplam {{urun.count}} adet tüketildi.
          </div>
        </div>
        <button class="button button-energized log-out-button" ng-click="doLogout()">Çıkış Yap</button>
      </div>

    </div>
  </ion-content>
</ion-view>
